<div class="card">
    <div class="card-header">
        <span class="badge bg-primary mx-2">Followers:{{githubProfile.followers}}</span>
        <span class="badge bg-secondary mx-2">Repos:{{githubProfile.public_repos}}</span>
        <span class="badge bg-danger mx-2">Gists:{{githubProfile.public_gists}}</span>
        <span class="badge bg-success mx-2">Following:{{githubProfile.following}}</span>

    </div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item">
                UserName: <span class="font-weight-bold">{{githubProfile.name}}</span>
            </li>
            <li class="list-group-item">
                Location: {{githubProfile.location}}
            </li>
            <li class="list-group-item">
                Email: {{githubProfile.email}}
            </li>
            <li class="list-group-item">
                Company: {{githubProfile.company}}
            </li>
            <li class="list-group-item">
                Blog:  <a [href]="githubProfile.blog" target="_blank">{{githubProfile.blog}}</a>
            </li>
            <li class="list-group-item">
                Member Since: {{githubProfile.created_at}}
            </li>
            <li class="list-group-item">
               Profile URL: <a [href]="githubProfile.html_url">{{githubProfile.html_url}}</a>
            </li>
        </ul>
    </div>
</div>